<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <!-- annotation -->
    <context:component-scan base-package="net.solooo.demo.rabbitmq.consumer"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:rabbitmq.properties</value>
            </list>
        </property>
    </bean>

    <rabbit:admin connection-factory="connectionFactory"/>

    <rabbit:connection-factory id="connectionFactory" host="${rabbit.host}" username="${rabbit.username}"
                               password="${rabbit.password}" port="${rabbit.port}" />

    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                      routing-key="${queue}" queue="${queue}"/>

    <rabbit:queue name="${queue}"/>


    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="myListener" queue-names="${queue}"/>
    </rabbit:listener-container>

</beans>